
#container {
    margin: auto;
    display: grid;
    width: 320px;
    height:320px;
    grid-template-columns: repeat(16, auto);
}

.cell {
    border: 1px solid black;
    width:auto;
    height:auto;
}

.passthrough{
    background-color: black;
}

.btnDiv{
    display:flex;
    justify-content: center;
    padding: 10px;
}

.resizeGrid{
    color: Green;
    background-color: black;
}